---
layout: default
title: "Recipes (FR)"
lang: fr
description: "Recettes de cuisine"
---

{% assign recettesSucre = site.categories.recettes | where:"type","sucre" | sort: 'title'  %}
{% assign recettesSel = site.categories.recettes | where:"type","sel" | sort: 'title'  %}
{% assign cuisine = site.categories.cuisine | sort: 'title'  %}
{% assign bases = site.categories.recettes | where:"type","base" | sort: 'title'  %}
 
<h1 class="page-heading">Recettes</h1>

<div class="recettes-list-container">

	<div class="sucre">
		<h2>Sucré</h2>
		<ul class="recipes-list">
			{% for post in recettesSucre %}
			<li>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	
	<div>
		<h2>Salé</h2>
		<ul class="recipes-list">
			{% for post in recettesSel %}
			<li>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	
</div>

<h2>Bases</h2>
<ul>
	{% for post in bases %}
	<li>
		<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	</li>
	{% endfor %}
</ul>

<h2>Notes</h2>
<ul>
	{% for post in cuisine %}
	<li>
		<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	</li>
	{% endfor %}
</ul>