{%- if page.categories and page.categories[0] -%}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "https://vianneyfaivre.com/{{page.categories[0]}}",
                    "name": "{{page.categories[0]}}"
                }
            }
        ]
    }
    </script>
{%- endif -%}