
{% if page.notes %}
    <h4>📝 Notes</h4>
    <ul>
    {% for note in page.notes %}

        {% if note.link %}
            <li><a href="{{ note.link }}">{{ note.label }}</a></li>
        {% else %}
            <li>{{ note }}</li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}

{% if page.variantes %}
    <h4>💡 Variantes</h4>
    <ul class="no-dots">
    {% for variante in page.variantes %}
        <li>
            {% if variante.todo %}
                <input type="checkbox" />
            {% else %}
                <input type="checkbox" checked="checked" />
            {% endif %}
            
            {{ variante.label }}
        </li>
    {% endfor %}
    </ul>
{% endif %}

<div id="{{recette[0]}}-pictures" class="variante-pictures">

    <h4>📷 Photos</h4>

    <div class="recipe-pictures">

        {% assign pictures = site.static_files | where: "isRecipePic", true %}
        {% for picture in pictures %}

            {% assign name = picture.name | split: '.' %}

            {% assign nameMatches = false %}
            {% if recette[0] == 'Classique' %}
                {% assign nameMatches = true %}
            {% elsif name[0] contains recette[0] %}
                {% assign nameMatches = true %}
            {% endif %}

            {% if picture.path contains page.title and nameMatches == true %}
                <img src="{{ picture.path }}" class="recipe-picture" width="100" alt="{{ name[0] }}" title="{{ name[0] }}" />
            {% endif %}
    
        {% endfor %}

    </div>

</div>
