
<h4 id="{{recette[0]}}-title" class="variante-title">
    🥕 Ingrédients 

    {% if recette[1].yield %}
        pour 
        <span itemprop="recipeYield">
            <span id="{{recette[0]}}-yield" data-originalValue="{{ recette[1].yield }}">{{ recette[1].yield }}</span>
            {{recette[1].yieldType}}
        </span>
    {% endif %}
</h4>

<ul id="{{recette[0]}}-ingredients" class="variante-ingredients">
{% for ingredient in recette[1].ingredients %}

    {% capture ingredientQte %}
        <span class="ingredient-qte-fixed" data-originalValue="{{ingredient.qte}}">
            {{ingredient.qte}}
        </span>
    {% endcapture %}

    {% if ingredient.variable == true %}
        {% capture ingredientQte %}
            <input class="ingredient-qte-variable" 
                    type="number" 
                    data-varianteId="{{recette[0]}}"
                    data-originalValue="{{ ingredient.qte }}"
                    value="{{ingredient.qte}}"
                    min="1"
            />
        {% endcapture %}
    {% endif %}

    <li itemprop="recipeIngredient">
    {% if ingredient.qte %}

        {% if ingredient.lien %}
            <a href="{{ ingredient.lien }}">{{ ingredient.nom }}</a> : {{ ingredientQte }} {{ ingredient.unite }}
        {% else %}
            {{ ingredient.nom }} : {{ ingredientQte }} {{ ingredient.unite }}
        {% endif %}
    {% else %}
        
        {% if ingredient.lien %}
            <a href="{{ ingredient.lien }}">{{ ingredient.nom }}</a>
        {% else %}
            {{ ingredient.nom }}
        {% endif %}
    {% endif %}
    </li>

{% endfor %}
</ul>

{% comment %}
{% if recette[1].utensils or page.utensils %}
<div id="{{recette[0]}}-utensils" class="variante-utensils">

    <h4>🛍️ Matériel</h4>

    <ul>
        {% for utensil in page.utensils %}
        <li>
            
            {% if layout.utensils[utensil] %}
            <a href="{{ layout.utensils[utensil].url }}" target="_blank">
                {{layout.utensils[utensil].title}} 🛒 
            </a>
            {% else %}
                {{ utensil }}
            {% endif %}
        </li>
        {% endfor %}

        {% for utensil in recette[1].utensils %}
        <li>
            
            {% if layout.utensils[utensil] %}
            <a href="{{ layout.utensils[utensil].url }}" target="_blank">
                {{layout.utensils[utensil].title}} 🛒 
            </a>
            {% else %}
                {{ utensil }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endcomment %}