
<h3 class="variante-subtitles" id="{{recette[0]}}-subtitle" itemprop="name"> 
    🎺 {{ page.title | escape }} - {{ recette[0] }} 🎺
</h3>

{% if page.preconditions or page.withYeast %}
    <h4>📜 Préambule</h4>
    
    <ul>
    
    {% for precondition in page.preconditions %}
        <li>{{ precondition }}</li>
    {% endfor %}
        
    {% if page.withYeast %}
        <li><a href="/cuisine/levure">Activer la levure</a></li>
    {% endif %}

    </ul>
{% endif %}
            
{% if recette[1].preconditions %}
<div id="{{recette[0]}}-preconditions" class="variante-preconditions">

    <h4>📜 Préambule</h4>
    
    <ul>
        
        {% for precondition in recette[1].preconditions %}
        <li itemprop="recipeInstructions">{{ precondition }}</li>
        {% endfor %}
        
    </ul>
</div>
{% endif %}

<div id="{{recette[0]}}-etapes" class="variante-etapes">

    {% for etape in recette[1].etapes %}

        {% assign etapeEmoji = '📜' %}
        {% if etape.emoji %}
            {% assign etapeEmoji = etape.emoji %}
        {% endif %}

        <h4>{{etapeEmoji}} {{etape.label}}</h4>
        <ol>
        {% for detail in etape.details %}
            
            <li itemprop="recipeInstructions">
                {% if detail.link %}
                    <a href="{{ detail.link }}">{{ detail.label }}</a>
                {% else %}
                    {{ detail }}
                {% endif %}
            </li>
            
        {% endfor %}
        </ol>
    {% endfor %}
</div>
