---
---

.about {

	.profile-pic {
		margin-right: 25px;
		height: 150px;
		border-radius: 10px;
	}

	.side-by-side-blocks {
		display: flex;
		flex-flow: row nowrap;
		margin-top: 25px;

		div.what {
			min-width: 200px;
			margin-right: 25px;
		}

		/* Mobile view */ 
		@media all and (max-width: 700px) {
			flex-direction: column;
		}
	}
}