--- 
--- 

.app {

    h1 input {
        width: 6em;
        font-size: 30px;
    }

    h2 {
        text-decoration: underline;
    }

    .forminfo {

        input {
            width: 4em;
        }
    }   
}
 
hr.quote {
    margin-top: 2em;
    margin-bottom: 2em;
}