--- 
--- 

.recette {
	
	/* Specific for 2014-01-01-crepes.html */
	&.recette-crepe {
		.crepes-params {
			text-align: center;
			font-size: 20px;
			
			input, select {
				text-align: center;
				font-size: 18px;
				border-radius: 3px;
				border: 1px solid #ccc;
			}
		}
	}
}
