---
---

// Width of the content area
$content-width:    1050px !default;

@import "minima";

.hidden {
	display: none;
}

.error-message {
	padding: 10px;
	margin: 10px;
	color: #ba3939;
	background: #ffe0e0;
	border: 1px solid #a33a3a;
}

.pagination {
	text-align: center;
}

.post-list {
	.things-description {
		font-size: 12px;
	}
	
	li {
		margin-bottom: 15px;
	}
}

img.flag-emoji {
	height: 15px;
	vertical-align: baseline;
}

.notes-table {
	th {
		text-align: center;
	}
}
