---
---


// Width of the content area
$content-width:    1000px !default;


@import "minima";

.pagination {
	text-align: center;
}

.recette {

	header {
		border-bottom: 1px solid #e8e8e8; margin-bottom: 15px;
	}
	
	h1 {
		text-align:center;
	}

	.main-panel {
		border-bottom: 1px solid #e8e8e8; 
		padding-bottom: 15px; 
		margin-bottom: 15px;
		
		display: flex; 
		flex-flow: row nowrap;
	}
	
	@media all and (max-width: 700px) {
	  .main-panel {
		flex-direction: column;
	  }
	}
	
	.ingredients-panel {
		margin: 5px;
		
		flex: 0 1 auto;
		width: 250px;
	}

	.etapes-panel {
		border-left: 1px solid #e8e8e8; 
		padding-left: 10px;
		margin: 5px;
		
		flex: 1 1 auto;
	}
		
	.materiel {
		margin-top: 15px;
	}
	
	.no-dots {
		list-style-type: none;
	}

	.emoji {
		padding-bottom: 5px;
	}
}