---
---

// Width of the content area
$content-width:    1050px !default;

@import "minima";

.error-message {
	padding: 10px;
	margin: 10px;
	color: #ba3939;
	background: #ffe0e0;
	border: 1px solid #a33a3a;
}

.pagination {
	text-align: center;
}

.post-list {
	.things-description {
		font-size: 12px;
	}
	
	li {
		margin-bottom: 15px;
	}
}

img.flag-emoji {
	height: 15px;
	vertical-align: baseline;
}

.flour-table {
	th {
		text-align: center;
	}
}

.disable-text-selection {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
  }

.sequence-diagrams-container {
	
	display: flex;
	flex-flow: row nowrap;

	.sequence-diagrams-container-left-child {
		min-width: 350px;
		height: 400px;
	}

	pre.error-message {
		max-width: 350px;
	}
}

.recettes-list-container {

	display: flex;
	flex-flow: row nowrap;

	.sucre {
		margin-right: 15px; 
		border-right: 1px solid #e8e8e8; 
		padding-right: 15px;
	}
	
	/* Mobile view */ 
	@media all and (max-width: 700px) {
		flex-direction: column;
	}

}

.recette {

	header {
		border-bottom: 1px solid #e8e8e8; 
		margin-bottom: 15px;
	}
	
	h1 {
		text-align: center;
		margin-bottom: 30px;
	}

	.main-panel {
		border-bottom: 1px solid #e8e8e8; 
		padding-bottom: 15px; 
		margin-bottom: 15px;
		
		display: flex; 
		flex-flow: row nowrap;
	}
	
	.ingredients-panel {
		padding-right: 10px;
		
		flex: 0 1 auto;
		min-width: 200px;
		max-width: 250px;
	}

	.etapes-panel {
		border-left: 1px solid #e8e8e8; 
		padding-left: 10px;
		
		flex: 1 1 auto;
	}
		
	.materiel {
		margin-top: 15px;
	}
	
	.no-dots {
		list-style-type: none;
		margin-left: 10px;
	}

	#timer-countdown {
		text-align: center;
		border: 0px;
		font-size: 20px;
	}

	#timer-action {
		cursor: pointer;
		font-size: 14px;
	}

	/* Specific for the recipes with multiple variantes */
	.variantes-tabs {
		overflow: hidden;
		border-bottom: 1px solid #e8e8e8;
		margin-bottom: 15px;
		margin-top: -15px;
	}
	
	.variantes-tabs button {
		background-color: inherit;
		border: none;
		cursor: pointer;
		padding: 10px;
		font-size: 13px;
		transition: 0.3s;
	}
	
	.variantes-tabs button:hover {
		background-color: #ddd;
	}
	
	.variantes-tabs button.active {
		background-color: #e8e8e8;
	}
	
	.variante-ingredients {
		display: none;
	} 
	
	/* Mobile view */ 
	@media all and (max-width: 700px) {
	  .main-panel {
		flex-direction: column;
	  }
	  
	  .etapes-panel {
		border-left: 0; 
		padding-left: 0px;
		margin: 0px;
		
		flex: 1 1 auto;
	  }
	}

	/* Specific for 2014-01-01-crepes.html */
	&.recette-crepe {
		.crepes-params {
			text-align: center;
			font-size: 20px;
			
			input, select {
				text-align: center;
				font-size: 18px;
				border-radius: 3px;
				border: 1px solid #ccc;
			}
		}
	}
}

.flags-of-the-world {

	.loading {
		text-align: center;
		margin-top: 15px;
		font-size: 20px;
	}

	.flags {
		display: none;

		.flag {
			width: 80px;
			margin: 5px;
			border: 1px solid #dfd8d8;
		}
	}
}

.pronunciation {

	.word {
		cursor: pointer;
	}
}

.my-life {

	table {
		border-collapse: collapse;
		width: auto;
		cursor: default;
		user-select: none; 

		td {
			padding: 0px;
			text-align: center;
		}

		thead td {
			color: royalblue;
			font-size: 10px;
			height: 15px;
			min-height: 15px;
		}

		tbody {
			td {
				height: 25px;
				min-height: 25px;
				width: 25px;
				min-width: 25px;
				color: white;

				&.tooltip-show {
					.tooltip-content { 
						opacity: 1; 
						visibility: visible;
					}
				}
			}
		}
		
	}
	.emoji {
		font-size: 16px;
		text-align: center;
		cursor: pointer;
	}

	.emojis {
		font-size: 8px;
		text-align: center;
		cursor: pointer;
	}

	.passed-month {
		background-color: lightgreen;
	}

	.current-month {
		background-color: lightsalmon;
	}

	.remaining-month {
		background-color: lightcoral;
	}

	.years-range {
		color: royalblue;
		font-size: 10px;
	}

	.tooltip {
		position: relative; 
	}

	.tooltip ul {
		margin-left: 10px;
		margin-bottom: 0;
	}

	.tooltip .tooltip-content {
		font-size: 12px;
		padding: 10px;
		left: 25px;     
		background-color: royalblue; 
		color: white;
		height: auto;
		border-radius: 0 15px 15px 15px;
		opacity: 0; 
		position: absolute;
		visibility: hidden;
		white-space: nowrap;
		transition: all 0.5s;    
	}
}