---
layout: default
---
<article class="post h-entry recette">

  <header>
    <h1 class="post-title p-name">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content e-content">

	{% if page.recettes %}
	<div class="variantes-tabs">
		
		{% for recette in page.recettes %}
			<button class="variantes-btn">{{ recette[0] }}</button>
		{% endfor %}

	</div>
	{% endif %}

	<div class="main-panel">
	
		<div class="ingredients-panel">

			<h4>🛒 Ingrédients {{ page.pour }}</h4>
			
			{% if page.recettes %}
				{% for recette in page.recettes %}

					<ul id="{{recette[0]}}-ingredients" class="variante-ingredients">
					{% for ingredient in recette[1].ingredients %}
						
						{% if ingredient.qte %}
							<li>{{ ingredient.nom }} : {{ ingredient.qte }} {{ ingredient.unite }}</li>
						{% else %}
							<li>{{ ingredient.nom }}</li>
						{% endif %}

					{% endfor %}
					</ul>

				{% endfor %}
			{% else %}
				<ul id="ingredients-list">
				{% for ingredient in page.ingredients %}
					
					{% if ingredient.qte %}
						<li>{{ ingredient.nom }} : {{ ingredient.qte }} {{ ingredient.unite }}</li>
					{% else %}
						<li>{{ ingredient.nom }}</li>
					{% endif %}
				{% endfor %}
				</ul>
			{% endif %}

			{% if page.materiel %}
				<h4 class="materiel">🔪 Matériel</h4>
				
				<ul>
				{% for materiel in page.materiel %}
					<li>{{ materiel }}</li>
				{% endfor %}
				</ul>
				
			{% endif %}
			
			{% if page.cuissonMinutes %}
				<h4>
					⏲️
					<input 
						id="timer-countdown" 
						timerDuration="{{ page.cuissonMinutes }}"
						minlength="5"
						maxlength="5"
						size="3" />
					<span id="timer-action"></span>
				</h4>
			{% endif %}
			
		</div>
		
		<div class="etapes-panel">
		
			{% if page.preconditions %}
				<h4>⚠️ Préambule</h4>
				
				<ul>
				{% for precondition in page.preconditions %}
					<li>{{ precondition }}</li>
				{% endfor %}
				</ul>
			{% endif %}
						
			{% if page.recettes %}

				{% for recette in page.recettes %}

					<div id="{{recette[0]}}-etapes" class="variante-etapes">

						{% for etape in recette[1].etapes %}
							<h4>📜 {{etape.label}}</h4>
							<ol>
							{% for detail in etape.details %}
								
								{% if detail.link %}
									<li><a href="{{ detail.link }}">{{ detail.label }}</a></li>
								{% else %}
									<li>{{ detail }}</li>
								{% endif %}
								
							{% endfor %}
							</ol>
						{% endfor %}
					</div>

				{% endfor %}

			{% else %}
				{% for etape in page.etapes %}
					<h4>📜 {{etape.label}}</h4>
						
					<ol>
					{% for detail in etape.details %}
						
						{% if detail.link %}
							<li><a href="{{ detail.link }}">{{ detail.label }}</a></li>
						{% else %}
							<li>{{ detail }}</li>
						{% endif %}
						
					{% endfor %}
					</ol>
				{% endfor %}
			{% endif %}
			
			{% if page.cuisson %}
				<h4>🔥 Cuisson</h4>
				<ul>
				{% for cuisson in page.cuisson %}
					<li>{{ cuisson }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
	
	<div>
		
		{% if page.notes %}
			<h4>📝 Notes</h4>
			<ul>
			{% for note in page.notes %}

				{% if note.link %}
					<li><a href="{{ note.link }}">{{ note.label }}</a></li>
				{% else %}
					<li>{{ note }}</li>
				{% endif %}
			{% endfor %}
			</ul>
		{% endif %}
	
		{% if page.variantes %}
			<h4>💡 Variantes</h4>
			<ul class="no-dots">
			{% for variante in page.variantes %}
				<li>
					{% if variante.todo %}
					  <input type="checkbox" />
					{% else %}
					  <input type="checkbox" checked="checked" />
					{% endif %}
					
					{{ variante.label }}
				</li>
			{% endfor %}
			</ul>
		{% endif %}
		
	</div>

  </div>  

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script src="/assets/js/recette.js"></script>
<script type="application/ld+json">
{
 "@context": "http://schema.org",
 "@type": "BreadcrumbList",
 "itemListElement":
 [
  {
   "@type": "ListItem",
   "position": 1,
   "item":
   {
	"@id": "https://vianneyfaivre.com/{{page.categories[0]}}",
	"name": "{{page.categories[0]}}"
	}
  }
 ]
}
</script>